@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

li {
	list-style: none;
}

p {
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
}

.extra-div h2,
.serviceDiv h2 {
	font-size: 0.9rem;
	margin: 20px 0 15px 0;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 4px;
}

i {
	color: #2fccd0;
}

/*  *************** Actual CSS Starts ***************  */
.header {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(
			rgba(0, 168, 255, 0.3),
			rgba(0, 168, 255, 0.3)
		),
		url("../Images/Img (1).jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon(100% 0, 100% 77%, 50% 100%, 0 75%, 0 0);
	position: relative;
}

.header::before {
	content: "";
	position: absolute;
	top: 0%;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
	opacity: 0.3%;
	z-index: -1;
}

.nav-link a {
	color: #fff;
}

.header-section {
	width: 100%;
	height: inherit;
	color: white;
	text-align: center;
	position: relative;
}

.center-div {
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.header-buttons a {
	border: 1px solid white;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	outline: none;
	color: white;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
}

.header-buttons a:hover {
	color: #50d1c0;
	background-color: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.center-div p {
	font-size: 1.3rem;
	padding: 10px 0 20px 0;
	color: #fff;
}

/* Card Part Starts */

.header-extra-div {
	width: 100%;
	height: auto;
	margin: 100px 0;
	text-align: center;
}

.extra-div {
	background-color: #fff;
	border: medium none;
	padding: 50px !important;
	border-radius: 3px;
	transition: 0.3s;
}

.extra-div:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
	transform: translateY(-20px);
}

/* Card Part Ends */

/* Offer Section Starts */

.service-offer {
	background: #f7f7f9;
	padding: 50px 0;
	margin-bottom: 50px;
}

.headings h1 {
	font-size: 1.5rem;
	font-weight: bold;
}

.names h1 {
	color: #2e2e2e;
	font-size: 0.9rem;
	font-weight: bold;
}

.service-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.progress {
	height: 0.6rem;
	margin-bottom: 25px;
	background-color: #606060;
}
/* Offer Section Ends */

/* *************** Project Information Section Starts ***************  */

.project-work {
	margin: 100px 0;
}

.project-work h1 {
	font-size: 2rem;
	text-align: center;
}

/* *************** Project Information Section Ends ***************  */

/* *************** Pricing Section Starts ***************  */

.pricing {
	width: 100%;
	height: 100vh;
	padding: 50px;
	position: relative;
}

.pricing::before {
	content: "";
	position: absolute;
	top: 0%;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
	z-index: -1;
}

.money {
	font-size: 40px;
	line-height: 1;
	color: #606060;
}

.card {
	transition: 0.4s ease;
}

.card-header {
	font-size: 1.6rem;
	font-weight: bold;
	background-color: white;
	padding: 25px 0;
}

.card-body {
	padding: 30px 0;
}

.card-body li {
	margin: 10px 0;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6;
	color: #606060;
}

.card-footer {
	background-color: white;
	padding: 30px 0px;
}

.card-footer a {
	border: 1px solid #50d1c0;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	outline: none;
	color: #50d1c0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
}

.card:hover .card-footer a {
	color: #fff;
	background-color: #50d1c0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover {
	transform: translateY(-20px);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover .card-header,
.card:hover .money {
	color: #50d1c0;
}

.card-second {
	transform: translateY(-20px);
	/* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); */
}

/* *************** Pricing Section Ends ***************  */

/* *************** Customer Feecback Section Starts ***************  */

.happy-clients {
	width: 100%;
	height: 100vh;
}

.box {
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	transition: 0.3s ease;
	cursor: pointer;
}

.box:hover {
	background-color: #16c9f6;
}

.box:hover p {
	color: white;
}

.carousel-indicators {
	position: absolute;
	right: 0;
	bottom: -60px !important;
}

.carousel-indicators li {
	background-color: #16c9f6 !important;
}

.box a {
	position: relative;
}

.box a img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 20px;
}

.box a::after {
	content: "\f10d";
	font-family: FontAwesome;
	width: 40px;
	height: 40px;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
	color: white;
	position: absolute;
	top: 120%;
	left: 70%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box h1 {
	font-size: 18px;
	font-weight: 700;
	color: #000;
	margin-bottom: 10px;
}

.box h2 {
	font-size: 13px;
	font-weight: 400;
	color: #666666;
	margin-bottom: 20px;
}

/* *************** Customer Feecback Section Ends ***************  */

/* *************** Contact Us Section Starts ***************  */

.Contact-Us {
	width: 100%;
	height: 100vh;
	padding: 80px 0;
	position: relative;
}

.Contact-Us::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(330deg, #16c9f6 55%, #fff 0%);
	z-index: -1;
}

.form-button button {
	border: 1px solid #50d1c0;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	outline: none;
	color: #50d1c0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	background: transparent;
}

form:hover .form-button button {
	background-color: #fff;
	color: #50d1c0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

::placeholder {
	font-size: 0.85rem;
}

/* *************** Contact Us Section Ends ***************  */

/* *************** Newsletter Section Starts ***************  */

.Newsletter {
	width: 100%;
	height: auto;
	margin: 80px auto;
}

.newsletter-input {
	border-radius: 100px 0px 0px 100px;
	min-width: 150px;
	min-height: 45px;
}

.input-group-text {
	cursor: pointer;
	color: #fff;
	background-color: #5bc0de;
	border-radius: 0px 100px 100px 0px;
	min-width: 100px;
	min-height: 45px;
}

/* *************** Newsletter Section Ends ***************  */

/* *************** Footer Section Starts ***************  */

.Footer-Section {
	width: 100%;
	height: auto;
	padding: 70px 0 20px 0;
	background-color: #00abff;
	position: relative;
}

.Footer-Section p {
	color: white;
}

.Footer-Section h3 {
	color: #fff;
	margin-bottom: 25px;
	font-size: 1.2rem;
	font-weight: 600;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.Footer-Section li a {
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #fff;
	text-transform: capitalize;
	text-align: center;
}

/* *************** Footer Section Ends ***************  */

/* *************** Top Button Styling Starts ***************  */

#myBtn {
	position: fixed;
	bottom: 20px;
	right: 40px;
	z-index: 99;
	border: none;
	color: #fff;
	background-color: #00abff;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
}

#myBtn:hover {
	background: #606060;
}

/* *************** Top Button Styling Ends ***************  */

/* *************** Media Queries Starts ***************  */

@media (max-width: 768px) {
	.nav-item {
		text-align: center;
	}

	.pricing,
	.happy-clients,
	.Contact-Us {
		height: auto;
		margin-top: 50px;
	}

	.card-second {
		margin: 30px 0;
		transform: translate(0);
	}

	.Contact-Us p {
		padding: 0 50px;
	}

	.footer-div:nth-child(2) {
		text-align: left !important;
	}

	.footer-div {
		margin: 30px 0;
	}
}

/* *************** Media Queries Ends ***************  */
